 <mat-tab-group style="height: 100%" animationDuration="1000ms" (selectedIndexChange)="onTabChange($event)">

    <mat-tab label="Renton, WA">
      gygy
    </mat-tab>

    <mat-tab label="Addison, IL">
        <mat-accordion fxLayout>
          <mat-expansion-panel fxFlex="340px" *ngFor="let unit of units" style="margin-bottom: 1px" (opened)="onAccountTypeSelect(group.name)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div fxFlex fxLayout fxLayoutAlign="space-between">
                  <div style="margin-left: 15px">{{ unit.id }}</div>
                  <div>{{ unit.location }}</div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
    </mat-tab>

    <mat-tab label="Portland, OR">
      bhhgy
    </mat-tab>

   <mat-tab label="Spokane, WA">
     bhhgy
   </mat-tab>

 </mat-tab-group>

