table {
  width: 100%;
}

/* Column Widths */
.mat-column-date,
.mat-column-fixedDate,
.mat-column-userLastName {
  width: 30%;
}

.mat-column-fixed {
  width: 10%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.filter {
  width: 350px;
  margin-left: 40px;
}

.button-back {
  margin-right: 15px;
}

.trailer:hover {
  background: #FFE0B2;
  cursor: pointer;
}

.chip-false, .chip-true {
  background: #FFAB91;
  text-align: center;
  width: 30px;
  border-radius: 15px;
  padding: 3px 7px;
}

.chip-true {
  background: #80CBC4;
}
