table {
  width: 100%;
}

td, th {
  font-size: 12px;
}

.table-container {
  max-width: 1000px;
  margin: auto;
}

/* Column Widths */
.mat-column-date,
.mat-column-fixedDate,
.mat-column-userLastName {
  width: 30%;
}

.mat-column-fixed {
  width: 10%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.filter {
  width: 70%;
  max-width: 300px;
  margin-left: 5%;
}

.button-back {
  margin-right: 15px;
}

.trailer:hover {
  background: #FFE0B2;
  cursor: pointer;
}

.chip-false, .chip-true {
  background: #FFAB91;
  text-align: center;
  width: 30px;
  border-radius: 10px;
  padding: 2px 4px;
}

.chip-true {
  background: #80CBC4;
}
