<mat-nav-list>
  <div style="height: 70px"></div>
  <a mat-list-item
     routerLink="/signup"
     routerLinkActive="active"
     (click)="onClose()"
     *ngIf="!isAuth">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">&nbsp;&nbsp;Signup</span>
  </a>
  <a mat-list-item
     routerLink="/login"
     routerLinkActive="active"
     (click)="onClose()"
     *ngIf="!isAuth">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">&nbsp;&nbsp;Login</span>
  </a>
  <a mat-list-item
     routerLink="/dashboard/test"
     routerLinkActive="active"
     (click)="onClose()"
     *ngIf="isAuth">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">&nbsp;&nbsp;Training</span>
  </a>
  <mat-list-item *ngIf="isAuth">
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
