<mat-nav-list>
  <div style="height: 70px"></div>
  <a mat-list-item
     routerLink="/dashboard/trailers-list"
     routerLinkActive="active"
     (click)="onClose()"
     *ngIf="!isAuth">
    <mat-icon>list</mat-icon>
    <span class="nav-caption">&nbsp;&nbsp;Trailers</span>
  </a>
  <a mat-list-item
     routerLink="/dashboard/trailer-edit"
     routerLinkActive="active"
     (click)="onClose()"
     *ngIf="!isAuth">
    <mat-icon>local_shipping</mat-icon>
    <span class="nav-caption">&nbsp;&nbsp;New trailer</span>
  </a>
  <a mat-list-item
     (click)="onLogout()"
     *ngIf="!isAuth">
    <mat-icon>exit_to_app</mat-icon>
    <span class="nav-caption">&nbsp;&nbsp;Logout</span>
  </a>
  <!--<a mat-list-item
     routerLink="/login"
     routerLinkActive="active"
     (click)="onClose()"
     *ngIf="!isAuth">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">&nbsp;&nbsp;Login</span>
  </a>-->
</mat-nav-list>
