mat-form-field{
  width: 280px;
}

.trailer-card {
  max-width: 400px;
  margin: auto;
  opacity: 0.95;
}

.detail-container {
  margin-top: 15px;
  border: 1px solid lightgray;
  padding-top: 15px;
  border-radius: 10px;
}

.description-field {
  width: 230px;
}

.example-margin {
  margin: 0 10px;
}

.arr-breaking-details {
  margin: auto;
}

.button-save {
  /*position: absolute;
  right: 20px;
  bottom: 10px;*/
  margin-top: 20px;
}

.button-add {
  margin-top: 15px;
}
