mat-card-actions {
  padding: 0;
}

.trailer-card {
  max-width: 400px;
  margin: auto;
  opacity: 0.95;
}

.button-back {
  position: absolute;
  right: 15px;
  top: 20px;
}

.material-icons.sm-light {
  color: rgba(255, 255, 255, 1);
}

.details {
  font-size: 14px;
  margin-top: 3px;
  border: 1px solid lightgrey;
  border-radius: 12px;
}

.detail-fixed {
  border: 1px solid #4dbf74;
}

.detail-unfixed {
  border: 1px solid #bf5d58;
}
