<div class="container">
  <form [formGroup]="dropForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">

    <h3>Want to drop trailer: <span>{{ dropForm.value.trailerNumber }}</span> ?</h3>

    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-select placeholder="Location" formControlName="location" required>
        <mat-option *ngFor="let location of locations" [value]="location.name">
          {{ location.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="radio-container" fxLayout="row" fxLayoutGap="10px">
      <div>Is Trailer broken: </div>
      <mat-radio-group formControlName="isBroken">
        <mat-radio-button [value]="true" style="margin-right: 15px" color="primary">Yes</mat-radio-button>
        <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <!--<div fxLayout="row" fxLayoutGap="20px">
      <button mat-mini-fab color="primary" (click)="onCancel()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button type="submit" [mat-dialog-close]="dropForm.value"
              mat-mini-fab color="primary"
              [disabled]="dropForm.invalid || dropForm.untouched">
        <mat-icon>save_alt</mat-icon>
      </button>
    </div>-->

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
      <div style="padding: 20px" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px">
        <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
        <button type="submit"
                [disabled]="dropForm.invalid || dropForm.untouched"
                mat-raised-button color="accent"
                [mat-dialog-close]="dropForm.value">Confirm</button>
      </div>
    </mat-dialog-actions>

  </form>
</div>
