mat-form-field {
  width: 300px;
}

#formBack {
  border-radius: 15px;
  width: 310px;
  padding: 30px;
  background: whitesmoke;
  opacity: 1;
}

a{
  text-decoration: none;
  color: #ff6e06;
}

a:hover, a:active{
  color: #FFA726;
}
