.background{
  height: 100%;
  background: url('/assets/img/main-back.jpg') left 50% bottom 50%/cover;
}

#logo {
  font-family: 'Kaushan Script', cursive;
  padding-top: 30px;
  color: whitesmoke;
  font-size: 25px;
}
