mat-card-actions {
  padding: 0;
}

.container {
  padding: 10px;
}

.trailer-card {
  max-width: 400px;
  margin: auto;
}

.trailer-header-image {
  background-image: url('/assets/img/reefer.jpg');
  background-size: cover;
}

.button-back {
  position: absolute;
  right: 15px;
  top: 20px;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
