table {
  width: 100%;
  margin: auto;
}

td, th {
  width: 20%;
  font-size: 12px;
}

.table-container {
  max-width: 1000px;
  margin: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.filter {
  width: 300px;
}

.trailer:hover {
  background: #FFE0B2;
  cursor: pointer;
}

.chip-false, .chip-true {
  margin-left: 10px;
  background: #FFAB91;
  text-align: center;
  width: 30px;
  border-radius: 10px;
  padding: 2px 4px;
}

.chip-true {
  background: #80CBC4;
}
