table {
  width: 100%;
  margin: auto;
  opacity: 0.95;
}

td, th {
  width: 16%;
  font-size: 12px;
}

.table-container {
  max-width: 1000px;
  margin: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.filter {
  width: 330px;
}

.filter-back {
  opacity: 0.95;
  border-radius: 10px;
  padding-top: 4px;
  width: 370px;
  margin: 2px auto;
  background: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trailer:hover {
  background: #ffe974;
  cursor: pointer;
}

.chip-false, .chip-true {
  margin-left: 5px;
  background: #FFAB91;
  text-align: center;
  width: 30px;
  border-radius: 10px;
  padding: 2px 4px;
}

.chip-true {
  background: #80CBC4;
}
