table {
  width: 100%;
}

td, th {
  width: 20%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.filter {
  width: 300px;
  margin-left: 40px;
}

.trailer:hover {
  background: #FFE0B2;
  cursor: pointer;
}

.chip-false, .chip-true {
  margin-left: 10px;
  background: #FFAB91;
  text-align: center;
  width: 30px;
  border-radius: 15px;
  padding: 3px 7px;
}

.chip-true {
  background: #80CBC4;
}
