a{
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: darkgray;
}

.navigation-items{
  list-style: none;
  padding: 0;
  margin: 0;
}

.my-toolbar {
  position: fixed;
  z-index: 2;
}

.logo {
  position: absolute;
  left: 20%;
  width: 150px;
  height: 100%;
  background: #FFA726;
  border: 4px solid #242424;
  border-radius: 3px;
  font-family: 'Kaushan Script', cursive;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.logo__text {
  margin: 15px 0 0;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color: #343434;
}
