a{
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: darkgray;
}

.navigation-items{
  list-style: none;
  padding: 0;
  margin: 0;
}

.my-toolbar {
  position: fixed;
  z-index: 2;
}

.logo {
  background: #FFA726;
  color: #004D40;
  font-weight: bold;
  font-size: 35px;
  margin-left: 193px;
  border: 1px solid #004F43;
  padding: 15px 40px;
  font-family: 'Roboto', sans-serif;
}

