mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
  background-color: #E9C77B;
}

.my-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 56px;
  width: 100%;
  background-color: #004D40;
  z-index: 2;
  padding: 10px;
}

.child {
  width: 200px;
  height: 200px;
  border: 1px solid red;
}

.navigation-items{
  list-style: none;
  padding: 0;
  margin: 0;
}

.current-trailer {
  padding: 8px;
  color: #FFA726;
  font-weight: bold;
  margin-left: 20px;
}
