<app-header (sidenavToggle)="sidenav.toggle()"></app-header>

<mat-sidenav-container>

  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 70px"></div>
    <router-outlet></router-outlet>
    <div style="height: 70px"></div>
  </mat-sidenav-content>

</mat-sidenav-container>

<footer class="my-footer">
  <div *ngIf="currentTrailerNumber !== ''" class="current-trailer">Current trailer:
    <span>{{ currentTrailerNumber }}</span></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout class="navigation-items" fxLayoutGap="10px">
      <!--<li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuth"><a routerLink="/training">Training</a></li>-->
      <li>
        <button mat-raised-button color="accent" (click)="onLogOut()">Logout</button>
      </li>
    </ul>
  </div>
</footer>
