<app-header (sidenavToggle)="sidenav.toggle()"></app-header>

<mat-sidenav-container>

  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="background">
      <div style="height: 65px"></div>
      <router-outlet></router-outlet>
      <div style="height: 70px"></div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

<footer class="my-footer">
  <div fxFlex fxLayout fxLayoutAlign="space-between">
    <div class="current-trailer" *ngIf="currentTrailer?.number">Current trailer:&nbsp;&nbsp;
      <span><button mat-stroked-button color="accent" (click)="onSelectTrailer(currentTrailer.id)">{{ currentTrailer?.number }}</button></span>
    </div>
    <div *ngIf="!currentTrailer?.number" style="color: #004D40">.</div>
    <button mat-raised-button color="accent" (click)="onLogOut()">Logout</button>
  </div>
</footer>
