mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
  background-color: #FFC34C;
  border-right: 1px solid whitesmoke;
}

.background{
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('/assets/img/main-back.jpg') left 50% bottom 50%/cover;
}

.my-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 56px;
  width: 100%;
  background-color: #444444;
  z-index: 2;
  padding: 10px;
  border-top: 1px solid whitesmoke;
}

.child {
  width: 200px;
  height: 200px;
  border: 1px solid red;
}

.navigation-items{
  list-style: none;
  padding: 0;
  margin: 0;
}

.current-trailer {
  color: #FFA726;
  font-weight: bold;
  margin-left: 20px;
}
