@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-gray, 800, 500, 800);
$my-theme-accent:  mat-palette($mat-amber, 400, 100, 700);
$my-theme-warn:    mat-palette($mat-red);


$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme);
