html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
}

.blue-snackbar {
  color: #004F43;
  text-align: center;
  font-weight: bold;
  background: #FFC34C;
  margin-bottom: 500px;
  width: 500px;
}
