<mat-dialog-content fxLayout fxLayoutAlign="center">
  <h1 mat-dialog-title style="text-align: center">For confirm enter your password</h1>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
  <form [formGroup]="confirmForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <mat-form-field>
      <input type="password" placeholder="Password" formControlName="password" matInput>
      <mat-error *ngIf="confirmForm.get('password').hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>
  </form>
  <div style="padding: 20px" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px">
    <button type="submit" mat-raised-button color="warn"
            [mat-dialog-close]="confirmForm.value.password"
            [disabled]="confirmForm.invalid">Confirm</button>
    <button mat-mini-fab color="primary" (click)="onCancel()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</mat-dialog-actions>
